<launch>
	<arg name="bagfile" />
	<arg name="image_used" default="/ardrone/bottom/image_raw"/>
	<node pkg="rosbag" type="play" name="player" output="screen" args="$(arg bagfile)"/>
	<node pkg="image_view" type="image_view" name="image_view" args="image:=$(arg image_used)" respawn="true"/>
</launch>
