<launch>
	<node pkg="rosbag" type="play" name="player" output="screen" args="--clock /home/jason/ROS/src/jardrone/bagfiles/20160406_all2.bag"/>
	<node pkg="visual_servoing_ardrone" name="listener" type="listener" respawn="true"/>
	<node pkg="visual_servoing_ardrone" name="quat_to_rpy" type="quat_to_rpy" respawn="true"/>

</launch>
